{% extends "polls/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Subnav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class"row">
      	<div id="subnav">
        
		</div>
     </div>
     <!-- Galerie
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="row" style="margin-top: 5%;" id="contact">
   		<div class="one-half column">
      		<img class="about" src="/pictures/impressum.jpg" style="width:100%"/>
      	</div>
        <div class="one-half column">
      		<h6>My name is Fabian Gatzka. I am a self-taught photographer based in Munich. I love to document everything via my camera. To get in contact, please write a mail to: me@fabiangatzka.de</h6>
      	</div>
   </div>
    
{% endblock %}