{% extends "polls/base.html" %}
{% load static %}

{% block content %}

<!-- Subnav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class"row">
    	<div id="subnav">
		  </div>
   </div>
   <!-- Galerie
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="row" style="text-align:center">
  <br><h4>--------------------------- Contact ---------------------------</h4>
  </div>

	<div class="row" style="margin-top: 5%;" id="contact">
   		<div class="one-half column">
      	<h6>Fabian Gatzka -- me@fabiangatzka.de</h6>
      </div>
      <div class="one-half column">
    		<h6></h6>
    	</div>
   </div>

   <div class="row" style="text-align:center">
  <br><h4>-----------------------------------------------------------------</h4>
  </div>
    
{% endblock %}