<!DOCTYPE html>
<html lang="en">
<head>

  <!--Load files
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  
  <!--Load Plugins
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
 
  <!-- Google
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-78954921-1', 'auto');
  	ga('send', 'pageview');
  </script>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>fabiangatzka</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/skeleton.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/pictures/favicon.png">

</head>
<body>
<!-- Beginn
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">

  <!-- Logo & Mainnav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
	<div class="row">
    	<div class="one-half column" style="margin-top: 5%">
        	<h4></h4>
      	</div>
      
      	<div class="one-half column" style="margin-top: 5%">
      		<div id="mainnav">
        		<ul>
 					<li><a href="/">home</a></li>
 					<li><a href="/photo/landscape">photos</a></li>
 					<li><a href="/wall">wall</a></li>
 					<li><a href="/about">contact</a></li>
 					<li><a href="/impressum">impressum</a></li>
 					<li><a href="logout">logout</a></li>
        		</ul>
			</div>
      	</div>
	</div>
	
	<!-- Main
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		{% block content %}
		{% endblock %}
	
	<!-- Copyright
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->	
	<div class="row" style="margin-bottom: 5%; text-align:center">
        © Fabian Gatzka
    </div>
	
	
</div>


<!-- JS-->



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>  
</html>