{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Subnav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class"row">
      	<div id="subnav">	
        <ul>
        	<li><a href="#">profile</a></li>
 			<li><a href="#">upload</a></li>
        </ul>
		</div>
     </div>
     
     <!-- Galerie
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="row" style="margin-top: 5%;" id="contact">
   		<div class="one-half column">
      		<h1>Welcome to your personal dashboard!</h1>
      	</div>
   </div>
    
{% endblock %}